.SoftSkillsHeading, .SoftSkills {
    text-align: left;
}

.TableInfo {
    border: 1px solid teal;
    color: blue;
    padding-right: 16px;
    width: 5vw;
    height: 5vw;
    animation: showTable 0.4s ease-in forwards;
}

@keyframes showTable {
    0% {
        opacity: 0;
        transform: translateY(-100%);
    }
    50% {
        opacity: 1;
        transform: translateY(20%);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

.Icon {
    width: 10vw;
    height: 4vw;
}

@media only screen and (min-width: 786px) {
    .TableInfo {
        width: 10vw;
        height: 0.5vw;
    }

    .Icon {
        width: 3vw;
        height: 2vw;
    }

    .SoftSkillsHeading {
        text-align: center;
    }
}
