.Icon {
    width: 10vw;
    height: 4vw;
}

.Certificates {
    width: 89vw;
}

.Line {
    width: 95vw;
}

@media only screen and (min-width: 786px) {
    .Icon {
        width: 3vw;
        height: 2vw;
    }

    .Certificates {
        width: 100%;
    }
}